<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_138_ExeCRUDWinForm_A.Properties.Settings.Exe3_PABDConnectionString"
            connectionString="Data Source=LENOVO\AKMALAMRAN;Initial Catalog=Exe3_PABD;User ID=sa;Password=uzumaki"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>